node_modules
node_modules/
node_modules/**
android
android/
android/app/release.keystore
*.keystore
windows
windows/
desktop-native
desktop-native/
extension
extension/
build
build/
public/downloads/
public/downloads/*.exe
public/downloads/*.apk
*.tar.gz
coverage/
.DS_Store
*.log
.env*
!.env.example
.vapid-keys.json
